@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h6{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 15px;   
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
/*  ---------------------------***  css - start  ***---------------------------------------- */
.nav-link ,.dropdown-item{
    font-weight: 600 !important;
    color: #000 !important;
}
.navbar{
    padding: 0 !important;
}
.top-header {
    background-color: #faeae2;
    height: 30px;
}
.middle-top-header{
    border-top:1px solid #000;
    height: 5em;
    width: 100%;
}
.logo-img{
    height: 3.5rem;
    width: 3.5rem;
}

.header-contact{
    padding: 5px ;
    height: 30px;
}

.top-header .header-contact li {
    color: #000;
    font-size: 15px;
    padding-right: 20px;
}
.social-white ul {
    text-align: center;
}
.social-white li{
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
    margin: 0 20px 0 0 ;
    text-align: center;
    position: relative;
    padding: 0;
}
.social-white li a {
    line-height: 33px;
    color: #000;
}
.text-right {
    text-align: right!important;
}
.top-header .header-dropdown li {
    cursor: pointer;
    display: inline-block;
    padding-left: 10px;
    color: #000;
}
.top-header .header-dropdown li a{
    color: #000;
    text-decoration: none;
}
.dropdown-item{
    background-color: #faeae2;
    justify-content: center;
    margin: auto;
}
.dropdown-menu :hover{
    background-color: #ffffff;
}
.dropdown-menu{
    padding: 0;
}

/* -------------------- slide ------------------------- */

.carousel-control-prev,.carousel-control-next{
    position:absolute;
    top: 50%;
    bottom: 50%;
    width: 6%;
}
.carousel-control-prev > span,.carousel-control-next >span {
    height: 1.5em;
    width: 1.5em;
}
.carousel-caption{
    position: absolute;
    content: "";
    top: 20%;
    width: 35%;
    height: a;
    text-align: left;
    /* font-variant: small-caps; */
}
.caption-off p{
    font-size: 1.7em;
    font-weight: 200;
    color: rgb(252, 249, 249);

}
.caption-off h1{
    font-size: 3em;
    font-weight: 400;
    color: goldenrod;
    font-variant: small-caps;
}
.caption-off span{
    font-size: 1.6em;
    color: rgb(252, 249, 249);
    font-weight: 100;
}

.slide-offer-div span{
    color: goldenrod;
}
.slide-btn{
    background-color: goldenrod;
    margin-top: 20px;
    padding: 10px;
    color: rgb(250, 250, 249);
    border-radius: 5px;
    border: none;
}
.slide-btn:hover{
    background-color: rgb(129, 127, 127);
}
/* --------------------------- login css ----------------------------------------- */
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;
    }
    .modal-dialog .modal-content {
      padding: 1rem;
    }
  }
  .modal-header .close {
    margin-top: -1.5rem;
  }
   
  .form-title {
    margin: -2rem 0rem 2rem;
  }
   
  .btn-round {
    border-radius: 3rem;
    background-color:  #0c0c0c;
    border: none;
  }
  .btn-round:hover{
  background-color: #666;
  }
   
  .delimiter {
    padding: 1rem;
  }
   
  .social-buttons .btn {
    margin: 0 0.5rem 1rem;
  }
   
  .signup-section {
    padding: 0.3rem 0rem;
  }
.social-icon .fa{
  color:#fff;
}


/*    Card css Priyanka */

.card-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    padding: 80px;

}
body{
    background-color:cadetblue
}
.card{
    background-color: aliceblue;
    width: 280px;
    border-radius: 15px;
}
.card-image{

    height: 150px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}
.card-1{
    background-image: url('/images/cards/img1.png');
}
.card-2{
    background-image: url('/images/cards/img2.png');
}
.card-3{
    background-image: url('/images/cards/img3.jpg');
}
.card p{
    text-align: center;
    padding: 10px;
    
}
.card a{
    display: block;
    text-align: center;
    background-color: black;
    padding: 15px 20px;
    color: white;
    margin: 20px 50px;
}
.card:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition: ease 1s ease;
    box-shadow:0px 0px 5px 2px blue;
}
.card-container .card h2{
    text-align: center;
}




/*  Footer Style prashant */


.Footer-cover .container{
    display: flex;
}


.footer-area {
    background-position: top center;
    position: relative;
    z-index: 5;
}

 .footer-area{
    /* display: flex; */
    height:100vh;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    justify-content: center;
    align-items: center;
} 
.footer-about .logo span{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    
}
.footer-line p{
    margin-top: 10px;
    color: white;
    text-align: justify;
}
.logo img{
    width: 30px;
    height: 30px;
}
 .social li {
    display: inline-block;
    list-style: none;
    padding: 10px; 
    
}
.social li a {
font-size: 20px;
}
.subscribe-area {
    padding: 20px 25px 45px;
    box-shadow: 0 0 18px 0 rgb(50 77 215 / 14%);
    border-radius: 10px;
    background-color: #fff;
}
.subscribe-area{
    background-color: whitesmoke
}
.subscribe-area .row {
    
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}
.subscribe-area  p{
   color: gray;
}
.footer-about .social {
    margin-top: 40px;
}
.social li a{
    color: white;
}
.social  li a i{
    size: 40px;
}

.footer-title .title h4{
    color: white;
}
.link a{
    color: white;
}
.link li{
    list-style: none;
}
.link li {
padding: 10px;
}
.footer-title .title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
 .subscribe-content h2{
    font-size: 30px;
    font-weight: 700;
}
.footer-widget{
    margin-top: 60px;
}
.subscribe-form button {
    position: relative;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 15px;
    background-color:green;
    color: ivory;
    
    
}
form {
    display: block;
    
}

.subscribe-form input {
    border: 2px solid #e1e1e1;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    width: 70%;
    color: #2e2e2e;
}
.footer-area hr{
color: #fff;
height: 5px;
}
.footer-line{
   
    border-top: 1px solid #fff;
}
.footer-cover .subscribe-area{
    padding-top: 130px; 
}




