*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;   
}
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.regi-left{
    text-align: center;
    color: #fff;
    margin-top: 10%;
}
.regi-right{
    background: #b0d2f5;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.regi-right h3{
    text-align: center;
    margin: 2% 0 2% 0;
    font-size: 2.2rem;
    color: #0062cc;
}
img{
    animation: rotate-center 4s linear infinite both;
}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
.register .regi-form{
    padding: 1.9rem;
}
.btnRegister{
    float: right;
    margin:5% 0;
    border: none;
    color: #0062cc;
    border-radius: 1.5rem;
    padding: 2%;
    font-weight: 600;
    width: 35%;
    cursor: pointer;
    background: linear-gradient(to left, #0063cc80 50%, rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
}
.btnRegister:hover {
    background-position: right bottom;
    color: #fff;
}
/* input{
    border: none !important;
    outline: none !important;
} */
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button :hover{ 
    -webkit-appearance: none; 
}

.form-group{
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
}



.form-group i{
    position: absolute;
    top: 15px;
    right: 10px;
    visibility: hidden ;
}
.formerror{
    color: red;
}






